/* ================
Custom Page Headers 
================ */

/* displays on the home page of the site*/
#home-header {
	background-image: url(/img/9234898125_d01dc58a83_o.jpg);
	background-attachment: fixed;
	background-size: cover;
	width: auto;
	height: 768px;
}

/* displays on the about page of the site */
#about-header {
	background-image: url(/img/9234898125_d01dc58a83_o.jpg);
	background-attachment: fixed;
	background-position: top left;
	background-size: cover;
	width: auto;
	height: 284px;
}

/* displays on the products page of the site */
#products-header {
	background-image: url(/img/9234898125_d01dc58a83_o.jpg);
	background-attachment: fixed;
	background-size: cover;
	width: auto;
	height: 284px;
}

/* displays on the solutions page of the website */
#solutions-header {
	background-image: url(/img/9234898125_d01dc58a83_o.jpg);
	background-attachment: fixed;
	background-size: cover;
	width: auto;
	height: 284px;
}

/* displays on the company page of the website */
#company-header {
	background-image: url(/img/9234898125_d01dc58a83_o.jpg);
	background-attachment: fixed;
	background-size: cover;
	width: auto;
	height: 284px;
}

/* displays on the contact page of the website */
#contact-header {
	background-image: url(/img/9234898125_d01dc58a83_o.jpg);
	background-attachment: fixed;
	background-size: cover;
	width: auto;
	height: 284px;
}

/* =============== 
Contact Us Section
=============== */
/* 
#contact-section {
	background-image: url(/img/9234898125_d01dc58a83_o.jpg);
	background-attachment: fixed;
	background-size: cover;
	width: auto;
	height: 284px;	
}

/* basic footer */
#basic-footer {
	background-color: white;
}

/* primary footer */
#primary-footer {
	background-color: darkgray;
}

/* secondary footer */
#secondary-footer {
	background-color: lightgray;
}

/* ================== 
Custom Heading Styles
================== */

/* h1 uses custom brand font */
h1 .brand {
	font-family: ;
	font-size: 5rem;
}

/* h2 uses custom brand font */
h2 .brand {
	font-family: ;
	font-size: 4rem;
}

/* h3 uses custom brand font */
h3 .brand {
	font-family: ;
	font-size: 3rem;
}

/* h4 uses custom brand font */
h4 .brand {
	font-family: ;
	font-size: 2rem;
}

/* h5 uses custom brand font */
h5 .brand {
	font-family: ;
	font-size: 1rem;
}

/* h6 uses custom brand font */
h6 .brand {
	font-family: ;
	font-size: 1rem;
}

/* =====================
CUSTOM BACKGROUND COLORS
===================== */

/* blue background */
.blue .background {
	background-color: blue;
}

/* red background */
.red .background {
	background-color: red;
}

/* yellow background */
.yellow .background {
	background-color: yellow;
}

/* green background */
.green .background {
	background-color: green;
}

/* dark gray background */
.dark-gray .background {
	background-color: darkgray;
}

/* light gray background */
.light-gray .background {
	background-color: lightgray;
}