<!-- open nav -->
<nav id="contact-info" container="ui attached stackable menu">
	<div class="ui container">
		<div class="ui horizontal list">
			<div class="item">
				<a href="">robertgraleigh@gmail.com</a>
			</div>
			<!-- close /div -->			
			<div class="item">
				<a href="">+1 503 502 6125</a>
			</div>
			<!-- close /div -->
			<div class="item">
				<a href="">334 NW 11th Ave, Portland, OR 9205</a>
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
	</div>
	<!-- close /div -->
</nav>
<!-- close /nav -->