<!-- Opens the copyright section at bottom of page -->
<section id="copyright" class="ui container">
	<div class="ui three column grid">
		<div class="column">
			<p>&copy; 2006 - 2016 RGR Industries, Inc.</p>
		</div>
		<!-- close /.column -->
		<div class="column">
			<ul class="">
				<li><a href="">Privacy</a></li>
				<li><a href="">Terms of Use</a></li>
			</ul>
		</div>
		<!-- close /.column -->
		<div class="column">
			<p>Hacked in PDX</p>
		</div>
		<!-- close /.column -->
	</div>
	<!-- close /.ui three column grid -->
</section>
<!-- /#copyright -->