<!-- Opens the copyright section at bottom of page -->
<section id="copyright" class="ui container">
	<div class="ui three column grid">
		<div class="column">
			<p>Copyright &copy; 2006 - 2016 RGR Industries, Inc.</p>
		</div>
		<!-- close /.column -->
		<div class="column">
			<div class="ui list">
				<div><a href="">Privacy</a></div>
				<div><a href="">Terms of Use</a></div>
			</div>
		</div>
		<!-- close /.column -->
		<div class="column">
			<p>Hacked in PDX</p>
		</div>
		<!-- close /.column -->
	</div>
	<!-- close /.ui three column grid -->
</section>
<!-- /#copyright -->