<!-- open secondary nav -->
<nav id="" class="ui stackable container">
	<div class="ui padded grid container">
		<div class="three wide column">
			<div class="ui link divided list">
				<a href="" class="item"><h3 class="">About</h3></a>
				<a href="" class="item">About Robert</a>
				<a href="" class="item">Robert's Story</a>
				<a href="" class="item">Work Experience</a>
				<a href="" class="item">Technical Skills</a>
				<a href="" class="item">Soft Skills</a>
				<a href="" class="item">Testimonials</a>
				<a href="" class="item">Blog</a>
				<a href="" class="item">Contact Us</a>
			</div>
			<!-- close /ul -->
		</div>
		<!-- close /div -->
		<div class="three wide column">
			<div class="ui link divided list">
				<a href="" class="item"><h3 class="">Products</h3></a>
				<a href="" class="item">Simple Websites</a>
				<a href="" class="item">Complex Websites</a>
				<a href="" class="item">Online Stores</a>
				<a href="" class="item">Blogs</a>
				<a href="" class="item">Pricing</a>
			</div>
			<!-- close /ul -->
		</div>
		<!-- close /div -->
		<div class="three wide column">
			<div class="ui link divided list">
				<a href="" class="item"><h3 class="">Solutions</h3></a>
				<a href="" class="item">Web Development</a>
				<a href="" class="item">UI/UX Design</a>
				<a href="" class="item">Product Management</a>
				<a href="" class="item">E-Commerce</a>
				<a href="" class="item">Copywriting</a>
			</div>
			<!-- close /ul -->
		</div>
		<!-- close /div -->
		<div class="three wide column">
			<div class="ui link divided list">
				<a href="" class="item"><h3 class="">Company</h3></a>
				<a href="" class="item">Robert's Story</a>
				<a href="" class="item">Robert's Story</a>
				<a href="" class="item">Testimonials</a>
				<a href="" class="item">Blog</a>
				<a href="" class="item">Contact Us</a>
			</div>
			<!-- close /ul -->
		</div>
		<!-- close /div -->
		<div class="three wide column">
			<div class="ui link divided list">
				<a href="" class="item"><h3 class="">Resources</h3></a>
				<a href="" class="item">Articles</a>
				<a href="" class="item">Books</a>
				<a href="" class="item">Tutorials</a>
				<a href="" class="item">Blog</a>
			</div>
			<!-- close /ul -->
		</div>
		<!-- close /div -->
	</div>
	<!-- close /div -->
</nav>
<!-- close /nav -->

<!-- open the primary site footer -->
<footer id="primary-footer" class="inverted segment">
	<div class="ui stackable divided equal height stackable grid container">
		<div class="four wide column">
			<h3 class="ui header">About {{site.title}}</h3>
			<p>{{ site.description }}</p>
		</div>
		<!-- /div -->
		<div class="four wide column">
			<h3 class="ui header">Contact Info</h3>
			<ul class="contact-list">
				<li><a href="mailto:{{ site.email }}" class="ui link"><i class="fa fa-envelope fa-fw"></i> {{ site.email }}</a></li>
				<li><a href="tel:{{ site.phone }}" class="ui link"><i class="fa fa-phone fa-fw"></i> {{ site.phone }}</a></li>
				<li><a href="" class="ui link"><i class="fa fa-map-marker fa-fw"></i> 334 NW 11th Ave</a></li>
				<li><a href="" class="ui link"><i class="fa fa-coffee fa-fw"></i> Let's grab coffee</a></li>
			</ul>
			<!-- close /ul -->
		</div>
		<!-- /div -->
		<div class="four wide column">
			<h3 class="ui header">Connect to us</h3>
			<ul class="social-media-list">
				{% if site.github_username %}
				<li>
					{% include icon-github.html username=site.github_username %}
				</li>
				{% endif %} {% if site.twitter_username %}
				<li>
					{% include icon-twitter.html username=site.twitter_username %}
				</li>
				{% endif %}
			</ul>
			<!-- close /ul -->
		</div>
		<!-- /div -->
		<div class="four wide column">
			<h3 class="ui header">Subscribe</h3>
			<form class="ui form gray inverted segment">
				<input type="text" placeholder="Full Name">
				<input type="email" placeholder="email">
				<input type="text" placeholder="Zip Code">
				<a class="ui basic blue button">Subscribe</a>
			</form>
			<!-- close /form -->
		</div>
		<!-- /div -->
	</div>
	<!-- /div -->
</footer>
<!-- close /footer -->