<!-- open the primary site navigation -->
<nav id="primary-nav" class="ui large top fixed menu">
	<div class="ui container">
		<a href="{{ site.baseurl }}/" class="header item">
			<i class="fa fa-suitcase fa-fw"></i> {{ site.title }}
		</a>
		<!-- close /a -->
		<div class="ui simple dropdown item">
			<span class="text">About</span>
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="header item">
					<a href="/about/" class="">ABOUT</a>
				</div>
				<!-- close /div -->
				<div class="item"><a href="" class="">About Robert</a></div>
				<div class="item"><a href="" class="">Robert's Story</a></div>
				<div class="item"><a href="" class="">Work Experience</a></div>
				<div class="item"><a href="" class="">Technical Skills</a></div>
				<div class="item"><a href="" class="">Soft Skills</a></div>
				<div class="item"><a href="" class="">Education</a></div>
				<div class="item"><a href="" class="">Volunteer</a></div>
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
		<div class="ui simple dropdown item">
			<span class="text">Products</span>
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item">
					<a href="/products/">PRODUCTS</a>
				</div>
				<div class="item"><a href="" class="">Websites</a></div>
				<div class="item"><a href="" class="">Stores</a></div>
				<div class="item"><a href="" class="">Blogs</a></div>
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
		<div class="ui simple dropdown item">
			Solutions
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item">
					<a href="/solutions/">SOLUTIONS</a>
				</div>
				<div class="item"><a href="" class="">Web Development</a></div>
				<div class="item"><a href="" class="">Project Management</a></div>
				<div class="item"><a href="" class="">UI/UX Design</a></div>
				<div class="item"><a href="" class="">E-Commerce</a></div>
				<div class="item"><a href="" class="">Copywriting</a></div>
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
		<div class="ui simple dropdown item">
			Company
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item">
					<a href="/company/"><a href="" class="">COMPANY</a>
				</div>
					<div class="item"><a href="" class="">Overview</a></div>
					<div class="item"><a href="" class="">Mission</a></div>
					<div class="item"><a href="" class="">Values</a></div>
					<div class="item"><a href="" class="">Projects</a></div>
					<div class="item"><a href="" class="">Contact</a></div>
			</div>
			<!-- /div -->
		</div>
		<!-- close /div -->
		<div class="ui simple dropdown item">
			Resources
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item">
					<a href="/solutions/"><a href="" class="">RESOURCES</a>
				</div>
					<div class="item"><a href="" class="">Books</a></div>
					<div class="item"><a href="" class="">Articles</a></div>
					<div class="item"><a href="" class="">Tutorials</a></div>
					<div class="item"><a href="" class="">Hacks</a></div>
					<div class="item"><a href="" class="">Blog</a></div>
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
		<div class="item">
			<a href="/contact" class="ui gray basic button">Contact</a>
		</div>
		<!-- close /div -->
		<div class="item">
			<a href="/place" class="ui secondary button">Launch</a>
		</div>
		<!-- close /div -->
</nav>
<!-- close /#primary-nav -->

<!-- dynamic code for menu -->
<!--
		<a  href="{{ site.baseurl }}/" class="header item">
			<img class="logo" src="http://placehold.it/140x100" alt="RGR logo">
			{{ site.title }}
		</a>
		<a href="#" class="menu-icon">
			<svg viewBox="0 0 18 15">
				<path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z" />
				<path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z" />
				<path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z" />
			</svg>
		</a>

			{% for my_page in site.pages %} {% if my_page.title %}
			<a class="item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
			{% endif %} {% endfor %}
-->