<!-- open the primary site navigation -->
<nav id="primary-nav" class="ui large top fixed menu">
	<div class="ui container">
		<a href="{{ site.baseurl }}/" class="header item">{{ site.title }}</a>
		<!-- close /a -->
		<div class="ui simple dropdown item">
			<span class="text">About</span>
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="header item">
					<a href="/about/" class="">ABOUT</a>
				</div>
				<!-- close /div -->
				<div class="item">
					<a href="/about/#about-robert" class="">About Robert</a>
				</div>
				<!-- close /div -->
				<div class="item">
					<a href="/about/#roberts-story" class="">Robert's Story</a>
				</div>
				<!-- close /div -->
				<div class="ui simple dropdown item">
					<i class="dropdown icon"></i>
					<a href="/about/experience/">Experience</a>
					<div class="menu">
						<div class="item">
							<a href="">Employment</a>
						</div>
						<!-- close /div -->
						<div class="item">
							<a href="">Volunteer</a>
						</div>
						<!-- close /div -->
						<div class="item">
							<a href="">Hackathons</a>
						</div>
						<!-- close /div -->
					</div>
					<!-- close /div -->
				</div>
				<!-- close /div -->
				<div class="ui simple dropdown item">
					<i class="dropdown icon"></i>
					<a href="/about/skillset/">Skillset</a>
					<div class="menu">
						<div class="item">
							<a href="">Technical Skills</a>
						</div>
						<div class="item">
							<a href="">Soft Skills</a>
						</div>
						<div class="item">
							<a href="">Education</a>
						</div>
						<div class="item">
							<a href="">Training</a>
						</div>
						<!-- close /div -->
					</div>
					<!-- close /div -->
				</div>
				<!-- close /div -->
				<div class="item">
					<a href="/about/#testimonials" class="">Testimonials</a>
				</div>
				<!-- close /div -->
				<div class="item">
					<a href="/about/#contact" class="">Contact</a>
				</div>
				<!-- close /div -->
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
		<div class="ui simple dropdown item">
			<span class="text">Products</span>
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item">
					<a href="/products/">PRODUCTS</a>
				</div>
				<!-- close /div -->
				<div class="item">
					<a href="/products/#website" class="">Your website</a>
				</div>
				<!-- close /div -->
				<div class="item">
					<a href="/products/#cms" class="">Your CMS</a>
				</div>
				<!-- close /div -->
				<div class="item">
					<a href="/products/#store" class="">Your store</a>
				</div>
				<!-- close /div -->
				<div class="item">
					<a href="/products/#blog" class="">Your blog</a>
				</div>
				<!-- close /div -->
				<div class="item">
					<a href="/products/#lists" class="">Your list</a>
				</div>
				<!-- close /div -->
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
		<div class="ui simple dropdown item">
			Services
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item">
					<a href="/services/">SERVICES</a>
				</div>
				<!-- close /div -->
				<div class="item">
					<a href="/solutions/#web-development" class="">Web Development</a>
				</div>
				<!-- close /div -->
				<div class="item">
					<a href="/solutions/#project-management" class="">Web Design</a>
				</div>
				<!-- close /div -->
				<div class="item">
					<a href="/solutions/#ui-ux-design" class="">User Experience</a>
				</div>
				<!-- close /div -->
				<div class="item">
					<a href="/solutions/#e-commerce" class="">E-Commerce</a>
				</div>
				<!-- close /div -->
				<div class="item">
					<a href="/solutions/#copywriting" class="">Copywriting</a>
				</div>
				<!-- close /div -->
				<div class="item">
					<a href="/solutions/#copywriting" class="">Email Marketing</a>
				</div>
				<!-- close /div -->
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
		<div class="ui simple dropdown item">
			Company
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item">
					<a href="/company/"><a href="" class="">COMPANY</a>
				</div>
				<div class="item"><a href="/company/#overview" class="">Overview</a>
				</div>
				<div class="item"><a href="/company/#mission" class="">Mission</a>
				</div>
				<div class="item"><a href="/company/#values" class="">Values</a>
				</div>
				<div class="item"><a href="/company/#projects" class="">Projects</a>
				</div>
				<div class="item"><a href="/company/#contact" class="">Contact</a>
				</div>
			</div>
			<!-- /div -->
		</div>
		<!-- close /div -->
		<div class="ui simple dropdown item">
			Resources
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item">
					<a href="/solutions/"><a href="" class="">RESOURCES</a>
				</div>
				<div class="item"><a href="/resources/#books" class="">Books</a>
				</div>
				<div class="item"><a href="/resources/#articles" class="">Articles</a>
				</div>
				<div class="item"><a href="/resources/#tutorials" class="">Tutorials</a>
				</div>
				<div class="item"><a href="/resources/#hacks" class="">Hacks</a>
				</div>
				<div class="item"><a href="/resources/#blog" class="">Blog</a>
				</div>
			</div>
			<!-- close /div -->
		</div>
		<!-- close /div -->
		<div class="item">
			<a href="/contact" class="ui basic grey button">Contact</a>
		</div>
		<!-- close /div -->
		<div class="item">
			<a href="/place" class="ui primary button">Get started</a>
		</div>
		<!-- close /div -->
	</div>
	<!-- close /div -->
</nav>
<!-- close /#primary-nav -->