<!-- primary site navigation -->
<div class="ui borderless main menu">
		<div class="ui text container">
			<a href="http://robertgraleigh.github.io" class="ui item">
				Robert G. Raleigh
			</a>
			<a href="tel:+15035026125" class="ui item">
				<i class="fa fa-phone fa-fw"></i> +1 (503) 502-6125</a>
			<a href="mailto:robert@rgrindustries.com"class="ui item">
				 <i class="fa fa-envelope fa-fw"></i> robert@rgrindustries.com
			</a><!-- /a -->
			<a href="#" class="ui right floated dropdown item">
				<i class="fa fa-bars fa-fw"></i> &nbsp;
				Menu
				<i class="ui dropdown icon"></i>
				<div class="menu">
					<div class="header">Robert G. Raleigh</div>
					<div class="ui item">
						About Robert
					</div><!-- /div -->
					<div class="ui item">Robert's Story</div>
					<div class="ui item">
						Project Types
					</div><!-- /div -->
					<div class='ui item'>
						Skillset
					</div><!-- /div -->
					<div class="ui item">
						<i class="dropdown icon"></i>
						Projects
						<div class="left menu">
							<div class="item">Natives Who Code</div>
							<div class="item">Log Camp</div>
						</div><!-- /div -->
					</div><!-- /div -->
					<div class="item">
						<i class="dropdown icon"></i>
						Experience
						<div class="left menu">
							<div class="item">Employment</div><!-- /div -->
							<div class="item">Volunteer</div><!-- /div -->
						</div><!-- /div -->
					</div><!-- /div -->
					<div class="item">
						<i class="dropdown icon"></i>
						Resources
						<div class="left menu">
							<div class="item">Tutorials</div><!-- /div -->
							<div class="item">Books</div><!-- /div -->
						</div><!-- /div -->
					</div><!-- /div -->
					<div class="item">
						Contact Info
					</div><!-- /div -->
				</div><!-- /div -->
			</a><!-- /a -->
		</div><!-- /div -->
	</div><!-- /div -->
